{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}
 <style>
.nav-link{
  width:219px;
  height:67px
}
.nav-link-second{
  width:290px;
  height:67px
}
 </style>
	<div class="wrapper">
		<h1 class="page-title">Administration</h1>
		<div class="card bg-white border-0" style="border-radius: 0;">
			<div class="card-body">
				<ul class="nav  nav-pills justify-content-evenly mb-3" id="myTab" role="tablist">
					<li class="nav-item" role="presentation">
						<button class="nav-link btn-first bt-mb" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Utilisateurs</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link btn-first bt-mb" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Catégories</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link btn-first " id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Tickets</button>
					</li>
				</ul>
        <div class="d-flex justify-content-center color-white">
          <button class="nav-link-second btn-second " id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Nouvel utilisateur</button>
        </div>
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
						<div class="table-responsive">
							{% include 'admin/tables/user_table.html.twig' with {'users': users} %}
						</div>
					</div>
					<div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
						<div class="table-responsive">
							{% include 'admin/tables/category_table.html.twig' with {'categories': categories} %}
						</div>
					</div>
					<div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
						<div class="table-responsive">
							{% include 'admin/tables/ticket_table.html.twig' with {'tickets': tickets} %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
