<!-- Navbar -->
<div class="d-flex align-content-start">
    <!-- Sidebar -->
    <nav class="d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#">
                        Sidebar Item 1
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Sidebar Item 2
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Sidebar Item 3
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    {% block body %}{% endblock %}

    <nav class="w-100 navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand p" href="#">TicketStatic</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Another Link</a>
                </li>
            </ul>
        </div>
    </nav>
</div>