{% extends 'base.html.twig' %}

{% block title %}New Tickets{% endblock %}

{% block body %}
<div class="wrapper">
    <h1 class="page-title">Nouveau ticket</h1>
    <div class="card">
        <div class="card-header bg-white border-0">
            <p class="h4">Créer rapidement votre ticket</p>
            <p>Rédiger et traiter de nouvelles requêtes et problèmes</p>
        </div>
        <div class="card-body">
            {{ include('tickets/_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}